.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin: 0 auto 1rem auto;
}

.dogCard {
  position: relative;
}

.checkbox {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  z-index: 1;
}

@media screen and (max-width: $breakpoint-md) {
  .wrapper {
    grid-template-columns: 1fr;
  }
}
