.input {
  margin-bottom: 1em;
  padding: 1em;
  border: none;
  border-radius: 0.25rem;
  background-color: $light-gray;
  height: 44px;

  &:focus {
    outline: none;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  }
}
