.buttonStyling {
  padding: 0 1rem;
  height: 44px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 0.9rem;
}

.primary {
  background-color: $main;
  color: $light;
  &:hover {
    background-color: lighten($main, 10%);
  }
}

.secondary {
  background-color: $light-accent;
  color: $main;
  &:hover {
    background-color: darken($light-accent, 10%);
  }
}
