.buttonStyling {
  padding: 0 1rem;
  height: 44px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 0.9rem;
}

.primary {
  background-color: $primary;
  color: $white;
  &:hover {
    background-color: darken($primary, 10%);
  }
}

.secondary {
  background-color: $default;
  color: $white;
  &:hover {
    background-color: darken($default, 10%);
  }
}
