$elevation-1: 0px 0.5px 1px hsl(0deg 0% 0% / 0.2),
  0px 1px 2px hsl(0deg 0% 0% / 0.15), 0px 2px 4px hsl(0deg 0% 0% / 0.1);

$elevation-2: 0px 1px 2px hsl(0deg 0% 0% / 0.2),
  0px 2px 4px hsl(0deg 0% 0% / 0.15), 0px 4px 8px hsl(0deg 0% 0% / 0.15),
  0px 8px 16px hsl(0deg 0% 0% / 0.1);

$elevation-3: 0px 1px 2px hsl(0deg 0% 0% / 0.15),
  0px 2px 4px hsl(0deg 0% 0% / 0.15), 0px 4px 8px hsl(0deg 0% 0% / 0.125),
  0px 8px 16px hsl(0deg 0% 0% / 0.125), 0px 16px 32px hsl(0deg 0% 0% / 0.1),
  0px 32px 64px hsl(0deg 0% 0% / 0.1);

$light-gray: #eee;
$white: #fff;
$border: 1px solid rgb(204, 204, 204);

$light: #c7ddeb;
$light-accent: #7f97a3;
$main: #457db2;
$dark-accent: #67779c;
$dark: #1f314a;

$default: #999999;
$primary: #457db2;
$info: #1f274a;
$success: #4aa06d;
$warning: #c79035;
$danger: #f44336;

$breakpoint-sm: 506px;
$breakpoint-md: 828px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
