.wrapper {
  border-radius: 0.5rem;
  box-shadow: $elevation-2;
  background: $white;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  // border: 1px solid rgba(255, 255, 255, 0.18);
}
